@mixin chevron($direction: right, $size: 1rem, $stroke: 3px) {
    $rotation: 45deg;
    $margin: 0;

    @if $direction==up {
        $rotation: -45deg;
        $margin: 0 0 (-$size / 2) 0;
    }

    @else if $direction==right {
        $rotation: 45deg;
        $margin: 0 0 0 (-$size / 2);
    }

    @else if $direction==down {
        $rotation: 135deg;
        $margin: (-$size / 2) 0 0 0;
    }

    @else if $direction==left {
        $rotation: -135deg;
        $margin: 0 (-$size / 2) 0 0;
    }

    border-style: solid;
    border-width: $stroke $stroke 0 0;
    color: currentColor;
    content: '';
    display: inline-block;
    margin: $margin;
    position: relative;
    transform: rotate($rotation);
    vertical-align: middle;
    width: $size;
    height: $size;
}

.countries {
    padding: 1rem;
    min-width: 600px;
    color: #555;
    &__header {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: .5rem;
        > div{
            flex: 1 1;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
           
            &:nth-child(2) {
                padding-left: 1rem;
            }
            &:first-child {
                max-width: 2.7rem;
            }
            &.desc, &.asc {
                    &:before {
                        @include chevron(up,.7rem,1px);
                        position: relative;
                        left: -.5rem;
                }
            }
            &.asc:before {
                @include chevron(down,.7rem,1px);
                left: -.5rem;
            }
        }
    }
    &__row {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        text-align: center;
        border-bottom: 1px solid #EDEDED !important;
        cursor: pointer;
        > div {
            flex: 1 1;
            padding: .5rem 0;
            &:first-child {
                max-width: 2.7rem;
            }
            &:nth-child(2) {
                text-align: left;
                padding-left: 1rem;
                font-weight: 600;
            }
        }
        img {
            max-width: 100%;
        }
    }
}